annotated-types
anyio
appdirs
asgiref
attrs
Authlib
bandit
beautifulsoup4
bs4
certifi
cffi
cfgv
charset-normalizer
click
crispy-bootstrap5
cryptography
cssselect
distlib
dj-database-url
Django
django-autoslug
django-axes
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-jazzmin
django-otp
django-ratelimit
django-tinymce
djangorestframework
djangorestframework-simplejwt
dparse
drf-spectacular
drf-yasg
et_xmlfile
fake-useragent
Faker
filelock
gunicorn
h11
httpcore
httpx
identify
idna
importlib_metadata
inflection
iniconfig
Jinja2
joblib
jsonschema
jsonschema-specifications
lxml
lxml_html_clean
Markdown
markdown-it-py
MarkupSafe
marshmallow
mdurl
nltk
nodeenv
numpy
openpyxl
outcome
packaging
pandas
parse
pbr
pillow
platformdirs
pluggy
pre_commit
psutil
psycopg
psycopg-binary
psycopg2
psycopg2-binary
pycparser
pydantic
pydantic_core
pyee
Pygments
PyJWT
pyppeteer
pyquery
PySocks
pytest
python-dateutil
python-decouple
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-html
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
safety
safety-schemas
selenium
setuptools
shellingham
six
sniffio
sortedcontainers
soupsieve
sqlparse
sslcommerz
sslcommerz-lib
stevedore
tenacity
tomlkit
tqdm
trio
trio-websocket
typer
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
w3lib
webdriver-manager
websocket-client
websockets
whitenoise
wsproto
zipp
